Task 1: Write a Python program which accepts the radius of a circle from the user and compute the area.

In [9]:
from math import pi
radius=float(input("Podaj promień "))
area=round(radius**2*pi,2)
print("Pole wynosi: " + str(area))

Podaj promień 7
Pole wynosi: 153.94

Task 2: Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [12]:
name=input("Podaj imię: ")
surname=input("Podaj nazwisko: ")
print("Nazywasz się: " + surname + " " + name)

Podaj imię: Aneta
Podaj nazwisko: Kowalczyk
Nazywasz się: Kowalczyk Aneta

Task 3:
Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn Sample value of n is 5 Expected Result : 615

In [24]:
n=int(input("Podaj liczbę: "))
if n<10:
    print("Wynik to: " +str(n+10*n+n+100*n+10*n+n))
else:
    print("Wynik to: " +str(n+100*n+n+n*10000+n*100+n))

Podaj liczbę: 12
Wynik to: 122436

In [27]:
a = int(input("Input an integer : ")) 
n1 = int( "%s" % a ) 
n2 = int( "%s%s" % (a,a) ) 
n3 = int( "%s%s%s" % (a,a,a) ) 
print(n1+n2+n3)

Input an integer : 78
795834

Task 4:
Write a Python program to accept a filename from the user and print the extension of that.

In [32]:
file=input("Podaj nazwę pliku")
name=file.split(".")
print("Rozszerzenie to: " + name[-1])

Podaj nazwę plikuPython.txt
Rozszerzenie to: txt

In [33]:
filename = input("Input the Filename: ") 
f_extns = filename.split(".") 
print("The extension of the file is : " + repr(f_extns[-1]))

Input the Filename: Python.txt
The extension of the file is : 'txt'

Task 5:
Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers

In [37]:
numbers=input("Podaj liczbę ")
lista=numbers.split(",")
tupl=tuple(numbers.split(","))
print(lista)
print(tupl)

Podaj liczbę 9
['9']
('9',)

Task 6:
Write a Python program to check a dictionary is empty or not.

In [44]:
dict={}
if not bool(dict):
    print("Słownik jest pusty")

Słownik jest pusty

Task 7:
Write a Python program to add an item in a tuple.

In [46]:
tpl=(91,4,6)
tpl+(2,)

(91, 4, 6, 2)

Task 8: Write a Python program to convert a tuple to a string

In [53]:
tpl=("s",'o','i')
wynik="".join(tpl)
wynik

'soi'